*{
	box-sizing: border-box;
}
body{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: transparent;
}
::-webkit-scrollbar
{
	width: 1px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(22,25,46,.4);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #4b2354;
	opacity: 1; /* Firefox */
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #4b2354;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #4b2354;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}
ui-widget-overlay{
	background: #aaa;
	opacity: 0.4;
	z-index: 1000;
}
.ui-dialog{
	top: 120px !important;
	width: 300px !important;
	font-family: 'Source Sans Pro', sans-serif;
	color: #4b2354;
}   
#message_error{
	width: 260px;
	margin: auto;
	font-size: 15px;
	color: #4b2354;
}
.ui-dialog-titlebar-close{
	line-height: 15px;
	
}
.ui-dialog-title{
	text-transform: uppercase;
	
}
.ui-dialog-buttonset button{
	min-width: 50px;
	height: 30px;
	background-color: #bd59d4;
	border-radius: 25px;
	border: none;
	font-size: 14px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
	-moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
	-webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
	-o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
	-ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);

}
.main_content{
	width: 100%;
	min-height: 100vh;
	background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
	background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
	background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
	background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
}
.main_content #form{
	width: 390px;
	margin: auto;
	margin-top: 45px;
	padding: 30px 54px ;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	
}
.main_content #form .form-group{
	position: relative;
	margin-bottom: 21px;
}
.main_content #form legend{
	font-size: 30px;
	color: #4b2354;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 34px;
	
}
.main_content #form input{
	position: relative;
	font-size: 16px;
	color: #4b2354;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 40px;
	background: transparent !important;
	padding: 0 38px 0 38px;
	border: none;
	border-radius: 20px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

}
.main_content #form input:focus{
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.3);
}   
.main_content #form input.error{
	box-shadow: 0 5px 30px 0px rgba(221, 75, 57, 0.9);
	-moz-box-shadow: 0 5px 30px 0px rgba(221, 75, 57, 0.9);
	-webkit-box-shadow: 0 5px 30px 0px rgba(221, 75, 57, 0.9);
	-o-box-shadow: 0 5px 30px 0px rgba(221, 75, 57, 0.9);
	-ms-box-shadow: 0 5px 30px 0px rgba(221, 75, 57, 0.9);
}
.main_content #form .form-group .display{
	position: absolute;
	top: 5px;
	left: 10px;
	border: none;
	border-radius: 10px;
	background: #fff;
	font-size: 20px;
	cursor: pointer;
	color: #4b2354;
}
.main_content #form .form-group button.display{
	left: 240px ;
}
.main_content #form .form-group .report-required,
.main_content #form .form-group .report-password,
.main_content #form .form-group .report{
	display: none;
	color: rgb(221, 75, 57);
	font-weight: bold;
	margin-top: 6px;
}
.main_content #form .my_button{
	margin-left: 30px;
	margin-top: 30px;
	min-width: 100px;
	height: 30px;
	background-color: #bd59d4;
	border-radius: 25px;
	font-size: 14px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
	-moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
	-webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
	-o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
	-ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}
.main_content #form .my_button:active{
	transform: scale(0.9);
}
.main_content #form .forgot{
	margin-top: 45px;
	text-align: center;
}
.main_content #form .forgot a{
	color: #4b2354;
	font-weight: bold;
	
}
@media only screen and (max-width: 430px) {
	.main_content #form{
		width: 96%;
		padding: 30px 24px;
	}
	.main_content #form .form-group button.display {
		left: 80%;
	}
	.main_content #form .btn-group {
		width: 100%;
		margin: auto;
	}
	.main_content #form .my_button{
		margin-left: 0;
	}
}
